#simpanContact{
    padding-left: 4em;
    padding-bottom: 1em;
}
.test{
    margin-bottom: 20px;
}
.wrapper {
    width: 450px;
    margin: 5px auto;
    background: rgb(156, 255, 242);
    padding: 15px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125), -1px -1px 2px rgba(0, 0, 0, 0.125);
  }
  .huruf{
      text-align: center;
  }
  .tengah{
      text-align: center;   
      padding-right: 4em;
  }
    li{
    margin-left: 2px;
    margin-bottom: 30px;
    list-style-type: none;
  }
  .circularsquare{
    border-radius: 50%;
    border: 50% solid #000000 !important;
    height: 10em;
    width: 10em;
    margin-top: 0.5em;
    margin-left: 5em;
    margin-right: 1em;
}
.ccenter{
    margin-top: 0.5em;
    margin-left: 1em;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    margin: 0 auto;
    float: none;
    margin-bottom: 20px;
    transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  .row{
    margin-top: 2em;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .container{
    margin-top: 2em;
}
  .container-fluid{
    background-color: white;
    padding-top: 1em;
    font-size: 1em;
    color: black;
}