#simpanContact{
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
}
.test{
    margin-bottom: 20px;
}
.wrapper {
    /* untuk container div */
    width: 450px;
    margin: 5px auto;
    background: rgb(156, 255, 242);
    padding: 15px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125), -1px -1px 2px rgba(0, 0, 0, 0.125);
  }
  /* mempercantik tulisan h1 dan h2 */
  .huruf{
      text-align: center;
      color: rgb(77, 77, 77);
      /* membuat text ada shadow */
      text-shadow: 2px 2px #b1b1b1;
  }
  /* untuk button */
  .tengah{
      text-align: center;   
  }
    li{
    margin-left: 2px;
    margin-bottom: 30px;
    list-style-type: none;
  }
  .circularsquare{
    border-radius: 50%;
    border: 50% solid #000000 !important;
    height: 10em;
    width: 10em;
    margin-top: 0.5em;
    margin-left: 7em;
    margin-right: 1em;
}
.ccenter{
    margin-top: 0.5em;
    margin-left: 1em;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    margin: 0 auto;
    float: none;
    margin-bottom: 20px;
    transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  .row{
    margin-top: 2em;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .container{
    margin-top: 2em;
}
  .container-fluid{
    background-color: white;
    padding-top: 1em;
    font-size: 1em;
    color: black;
}
.table{
  text-align: center;
    margin-top: 2em;
    Bottom-top: 2em;
    width: 80%;
    margin: 0 auto !important;
  }